apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnect
metadata:
  namespace: kafka
  name: mongodb-sink-connect-cluster
  annotations:
    strimzi.io/use-connector-resources: 'true'
spec:
  bootstrapServers: my-cluster-kafka-bootstrap:9092
  build:
    output:
      type: docker
      image: ghcr.io/andy2great/mongodb-sink:latest
      pushSecret: dockersecret
    plugins:
      - name: my-plugin
        artifacts:
          - type: maven
            repository: https://repo1.maven.org/maven2
            group: org.mongodb.kafka
            artifact: mongo-kafka-connect
            version: 1.11.2
  config:
    group.id: connect-cluster
    value.converter: org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable: false
    value.converter.schemas.enable: false
    offset.storage.topic: connect-offsets
    config.storage.topic: connect-configs
    status.storage.topic: connect-status
  template:
    pod:
      imagePullSecrets:
        - name: dockersecret
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  namespace: kafka
  name: connector-mongodb-sink
  labels:
    strimzi.io/cluster: mongodb-sink-connect-cluster
spec:
  class: com.mongodb.kafka.connect.MongoSinkConnector
  tasksMax: 1
  config:
    topics: genparker-philantropy-topic-data
    connection.uri: 'to add'
    database: kafka
    collection: data
    key.converter: org.apache.kafka.connect.storage.StringConverter
    value.converter: org.apache.kafka.connect.json.JsonConverter
    value.converter.schemas.enable: false
